body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  user-select:none;
  background-color: #070307;
}

.header {
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-rows: 80px 500px 300px;
  grid-template-areas: 
    "header header aside"
    "gate circuit aside"
    "statevector histogram aside";
  grid-gap: 20px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #333;
  color: #f4e6f4;
  padding: 10px;
  font-size: xx-large;
}


.gate-area {
  color: #f4e6f4;
  grid-area: gate;
  background-color: #333;
  padding: 10px;
}

.gate{
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #832a83;
  color: #f4e6f4;
  position: absolute;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.doubleGate{
  display: flex;
  width: 50px;
  height: 100px;
  background-color: #832a83;
  color: #f4e6f4;
  position: absolute;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.gateLine{
  background-color: #832a83;
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 80px;
}


.outCircuit:hover {
  background-color: #832a83b4;
}

.inCircuit{
  position: absolute;
  margin: 0 10px;
}


#x-gate { top: 160px; left: 20px; }
#y-gate { top: 160px; left: 90px; }
#z-gate { top: 160px; left: 160px; }
#H-gate { top: 160px; left: 230px; }
#T-gate { top: 160px; left:300px;}
#CNOT-gate { top: 230px; left: 20px; }
#SWAP-gate { top: 230px; left: 90px}


.circuit-area {
  color: #f4e6f4;
  grid-area: circuit;
  background-color: #333;
  padding: 10px;
}

.circuit-main {
  display: grid;
  height: 450px;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: repeat(6,1fr);
  padding:10px;
  row-gap: 5px;
  column-gap: 5px;
  color: #f4e6f4;
}

.circuit-name:nth-child(1){
  grid-row: 1/2;
}
.circuit-name:nth-child(2){
  grid-row: 2/3;
}
.circuit-name:nth-child(3){
  grid-row: 3/4;
}
.circuit-name:nth-child(4){
  grid-row: 4/5;
}
.circuit-name:nth-child(5){
  grid-row: 5/6;
}
.circuit-name:nth-child(6){
  grid-row: 6/7;
}

.circuit{
  background-color:#db9adb;
  color: #f4e6f4;
  margin: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
}




.aside {
  color: #f4e6f4;
  grid-area: aside;
  background-color: #333;
  padding: 10px;
  overflow: scroll;
}

.histogram-area {
  color: #f4e6f4;
  grid-area: histogram;
  background-color: #333;
  text-align: center;
  padding:10px;
}

.histogram-main{
  display: grid;
  height: 250px;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: 7fr 1fr;
  padding:10px;
  row-gap: 5px;
  column-gap: 5px;
  align-items: end;



}
.statevector-area {
  color: #f4e6f4;
  grid-area: statevector;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

.statevector-main {
  color: #f4e6f4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8,1fr);
}

#clear {
  background-color: #832a83;
  color: #f4e6f4;
  cursor: pointer;
  padding: 18px;
  text-align: center;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  margin: 10px;
}

#clear:hover {
  background-color: #832a83b4;
}

.menu{
  background-color: #333;
  color: #f4e6f4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.sideContent {
  padding: 0 0 0 18px;
  overflow: hidden;
  background-color: #333;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.active, .menu:hover {
  background-color: #555;
}

.menu:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #f4e6f4;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}