body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  grid-template-rows: 80px 500px 300px;
  grid-template-areas: 
    "header header aside"
    "gate circuit aside"
    "blochsphere histogram aside";
  grid-gap: 20px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: xx-large;
}


.gate-area {
  grid-area: gate;
  background-color: #f4f4f4;
  padding: 10px;
}

.gate{
  width: 50px;
  height: 50px;
  background-color: #e06565;
  color: white;
  position: absolute;
  cursor: pointer;
}

.inCircuit{
  position: absolute;
  margin: 0 10px;
}

#x-gate { top: 160px; left: 20px; }
#y-gate { top: 215px; left: 20px; }
#z-gate { top: 270px; left: 20px; }
#H-gate { top: 325px; left: 20px; }
#CNOT-gate { top: 380px; left: 20px; }


.circuit-area {
  grid-area: circuit;
  background-color: #e4e4e4;
  padding: 10px;
}

.circuit-main {
  display: grid;
  height: 450px;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: repeat(6,1fr);
  padding:10px;
  row-gap: 5px;
  column-gap: 5px;
}

.circuit-name:nth-child(1){
  grid-row: 1/2;
}
.circuit-name:nth-child(2){
  grid-row: 2/3;
}
.circuit-name:nth-child(3){
  grid-row: 3/4;
}
.circuit-name:nth-child(4){
  grid-row: 4/5;
}
.circuit-name:nth-child(5){
  grid-row: 5/6;
}
.circuit-name:nth-child(6){
  grid-row: 6/7;
}

.circuit{
  background-color:#333;
  color: white;
  margin: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
}




.aside {
  grid-area: aside;
  background-color: #f4f4f4;
  padding: 10px;
}

.histogram-area {
  grid-area: histogram;
  background-color: #e4e4e4;
  text-align: center;
  padding:10px;
}

.histogram-main{
  display: grid;
  height: 250px;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: 7fr 1fr;
  padding:10px;
  row-gap: 5px;
  column-gap: 5px;
  align-items: end;



}
.blochsphere-area {
  grid-area: blochsphere;
  background-color: #e4e4e4;
  text-align: center;
  padding: 10px;
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

